version: '3'
services:
    realsense:
        build:
            context: .
            args:
                docker_user_uid : ${DOCKER_USER_UID}
                docker_user_gid : ${DOCKER_USER_GID}
        environment:
            DOCKER_BUILD: "true"
            CAMERA_SUITE_PACKAGE_PATH: /camerasuite_package
            DYNAMIC_CALIBRATOR_PATH: /dynamic_calibrator
            ROS_WRAPPER_PATH: /ros_wrapper
        volumes:
        - .:/realsense
        - ${CAMERA_SUITE_PACKAGE_PATH}:/camerasuite_package
        - ${DYNAMIC_CALIBRATOR_PATH}:/dynamic_calibrator
        - ${ROS_WRAPPER_PATH}:/ros_wrapper
    realsense_arm64:
        build:
            context: .
            dockerfile: DockerfileArm64
            args:
                docker_user_uid : ${DOCKER_USER_UID}
                docker_user_gid : ${DOCKER_USER_GID}
        environment:
            DOCKER_BUILD: "true"
            CAMERA_SUITE_PACKAGE_PATH: /camerasuite_package
            ROS_WRAPPER_PATH: /ros_wrapper
        volumes:
        - .:/realsense
        - ${CAMERA_SUITE_PACKAGE_PATH}:/camerasuite_package
        - ${ROS_WRAPPER_PATH}:/ros_wrapper
